name: CMake on a single platform

on:
  push:
    branches: [ "main" ]
  pull_request_target:
    branches: [ "main" ]
env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
jbs:
  build:
    runs-on: ubuntu-latest
    container:
      image: nvidia/cuda:13.0.1-devel-ubuntu22.04
    steps:
      - uses: actions/checkout@v4
      - name: Verify CUDA
        run: nvcc --version || echo "nvcc not found (container may not include it)"
      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
